

:root{
--mustard-50: #fefbe8;
--mustard-100: #fff8c2;
--mustard-200: #ffec89;
--mustard-300: #ffde59;
--mustard-400: #fdc512;
--mustard-500: #ecab06;
--mustard-600: #cc8302;
--mustard-700: #a35c05;
--mustard-800: #86480d;
--mustard-900: #723b11;
}