@tailwind base;
@tailwind components;
@tailwind utilities;


// Vendor css 
@import '../src/assets/vendor/bootstrap/css/bootstrap.min.css';
@import '../src/assets/vendor/bootstrap-icons/bootstrap-icons.css';
// @import '../src/assets/vendor/aos/aos.css'; // this has an issue when uncommented TODO: Investigate this.
@import '../src/assets/vendor/glightbox/css/glightbox.min.css';
@import '../src/assets/vendor/swiper/swiper-bundle.min.css';

// //Variables CSS Files. Uncomment your preferred color scheme -->
@import '../src/assets/css/variables.css';

@import 'assets/css/variables-theme.css';

// //Template Main CSS File -->
@import '../src/assets/css/main.css';


@import '../../../libs/theme/theme.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.hero-random-text {
    // color: #ff6f00 !important;
    font-size: 40.2px;
    font-family: Nunito, sans-serif;
    spacing:normal
}

.text_link:hover{
  text-decoration: underline;
  text-decoration-color: rgb(250, 114, 64);
  -moz-text-decoration-color: rgb(250, 114, 64);
  text-decoration-thickness: 5px;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar .mat-progress-bar-fill::after {
  background-color: #e91b22;
}

::ng-deep .snackbar{
  max-width: auto !important;
  // margin-left: auto !important; // center align from left
  // margin-right: auto !important; // center align from right
  margin: 0px !important; 
  padding: 0px !important; // spacing between the text and boundary
  background-color: green;
  color: white;

  .mat-button-wrapper {
      color: black !important; // action text color
  }
}


.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
  margin: 0px !important; 
  padding: 0px !important; // spacing between the text and boundary
  background-color: red;
}
// .red-snackbar button {
//   background-color: #F44336;
//   color: white !important;
//   border: none;
// }

.cursor-pointer {
  cursor: pointer;
}

.cookie-font {
  font-family: 'Cookie', cursive;
}

rect {
  fill: #FFD600; /* fallback color */
  fill: $mustard-500; /* actual color to use */
}

.border-yellow {
  border: 1px solid $mustard-400;
}


////////////////////////////////// Dark mode Styling ////////////////////////////////// 
.dark .dark\:divide-gray-700> :not([hidden])~ :not([hidden]) {
  border-color: rgba(55, 65, 81);
}

.dark .dark\:bg-gray-50 {
  background-color: rgba(249, 250, 251);
}

.dark .dark\:bg-gray-100 {
  background-color: rgba(243, 244, 246);
}

.dark .dark\:bg-gray-600 {
  background-color: rgba(75, 85, 99);
}

.dark .dark\:bg-gray-700 {
  background-color: rgba(55, 65, 81);
}

.dark .dark\:bg-gray-800 {
  background-color: rgba(31, 41, 55);
}

.dark .dark\:bg-gray-900 {
  background-color: rgba(17, 24, 39);
}

.dark .dark\:bg-red-700 {
  background-color: rgba(185, 28, 28);
}

.dark .dark\:bg-green-700 {
  background-color: rgba(4, 120, 87);
}

.dark .dark\:hover\:bg-gray-200:hover {
  background-color: rgba(229, 231, 235);
}

.dark .dark\:hover\:bg-gray-600:hover {
  background-color: rgba(75, 85, 99);
}

.dark .dark\:hover\:bg-gray-700:hover {
  background-color: rgba(55, 65, 81);
}

.dark .dark\:hover\:bg-gray-900:hover {
  background-color: rgba(17, 24, 39);
}

.dark .dark\:border-gray-100 {
  border-color: rgba(243, 244, 246);
}

.dark .dark\:border-gray-400 {
  border-color: rgba(156, 163, 175);
}

.dark .dark\:border-gray-500 {
  border-color: rgba(107, 114, 128);
}

.dark .dark\:border-gray-600 {
  border-color: rgba(75, 85, 99);
}

.dark .dark\:border-gray-700 {
  border-color: rgba(55, 65, 81);
}

.dark .dark\:border-gray-900 {
  border-color: rgba(17, 24, 39);
}

.dark .dark\:hover\:border-gray-800:hover {
  border-color: rgba(31, 41, 55);
}

.dark .dark\:text-white {
  color: rgba(255, 255, 255);
}

.dark .dark\:text-gray-50 {
  color: rgba(249, 250, 251);
}

.dark .dark\:text-gray-100 {
  color: rgba(243, 244, 246);
}

.dark .dark\:text-gray-200 {
  color: rgba(229, 231, 235);
}

.dark .dark\:text-gray-400 {
  color: rgba(156, 163, 175);
}

.dark .dark\:text-gray-500 {
  color: rgba(107, 114, 128);
}

.dark .dark\:text-gray-700 {
  color: rgba(55, 65, 81);
}

.dark .dark\:text-gray-800 {
  color: rgba(31, 41, 55);
}

.dark .dark\:text-red-100 {
  color: rgba(254, 226, 226);
}

.dark .dark\:text-green-100 {
  color: rgba(209, 250, 229);
}

.dark .dark\:text-blue-400 {
  color: rgba(96, 165, 250);
}

.dark .group:hover .dark\:group-hover\:text-gray-500 {
  color: rgba(107, 114, 128);
}

.dark .group:focus .dark\:group-focus\:text-gray-700 {
  color: rgba(55, 65, 81);
}

.dark .dark\:hover\:text-gray-100:hover {
  color: rgba(243, 244, 246);
}

.dark .dark\:hover\:text-blue-500:hover {
  color: rgba(59, 130, 246);
}

/* Custom style */
.header-right {
  width: calc(100% - 3.5rem);
}

.sidebar:hover {
  width: 16rem;
}

@media only screen and (min-width: 768px) {
  .header-right {
    width: calc(100% - 16rem);
  }
}

////////////////////////////////// END 