@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Vendor css 
@import '../src/assets/vendor/bootstrap/css/bootstrap.min.css';
@import '../src/assets/vendor/bootstrap-icons/bootstrap-icons.css';
// @import '../src/assets/vendor/aos/aos.css'; // this has an issue when uncommented TODO: Investigate this.
@import '../src/assets/vendor/glightbox/css/glightbox.min.css';
@import '../src/assets/vendor/swiper/swiper-bundle.min.css';

// //Variables CSS Files. Uncomment your preferred color scheme -->
@import '../src/assets/css/variables.css';

@import 'assets/css/variables-theme.css';

// //Template Main CSS File -->
@import '../src/assets/css/main.css';


@import '../../../libs/theme/theme.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.hero-random-text {
    color: #ff6f00;
    font-size: 51.2px;
    font-family: Nunito, sans-serif;
    spacing:normal
}

.text_link:hover{
  text-decoration: underline;
  text-decoration-color: rgb(250, 114, 64);
  -moz-text-decoration-color: rgb(250, 114, 64);
  text-decoration-thickness: 5px;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar .mat-progress-bar-fill::after {
  background-color: #e91b22;
}

::ng-deep .snackbar{
  max-width: auto !important;
  // margin-left: auto !important; // center align from left
  // margin-right: auto !important; // center align from right
  margin: 0px !important; 
  padding: 0px !important; // spacing between the text and boundary
  background-color: green;
  color: white;

  .mat-button-wrapper {
      color: black !important; // action text color
  }
}


.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
  margin: 0px !important; 
  padding: 0px !important; // spacing between the text and boundary
  background-color: red;
}
// .red-snackbar button {
//   background-color: #F44336;
//   color: white !important;
//   border: none;
// }

.cursor-pointer {
  cursor: pointer;
}

.cookie-font {
  font-family: 'Cookie', cursive;
}

rect {
  fill: #FFD600; /* fallback color */
  fill: $mustard-500; /* actual color to use */
}

.border-yellow {
  border: 1px solid $mustard-400;
}
